body {
  background-color: #1e1e1e;
  color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

input,
button {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #444;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:focus,
button:hover {
  border-color: #888;
  outline: none;
}

textarea {
  background-color: #2c2c2c;
  color: #ffffff;
  border: 1px solid #444;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  resize: none; /* disables manual resizing */
  height: 60px; /* set height as needed */
  font-family: inherit;
  font-size: 14px;
}

textarea:focus {
  border-color: #888;
  outline: none;
}

#chatbox {
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

#chatbox div {
  margin-bottom: 8px;
}

#chatbox b {
  color: #73c0ff;
}

.msg {
  display: table;
}

.msg_name {
  display: table-cell;
  white-space: nowrap;
  padding: 0px 5px 0px 0px;
}

.msg_content {
  display: table-cell;
  white-space: pre-wrap;
  font-family: monospace;
}

.plane {
  font-family: monospace;
  white-space: pre-wrap;
  font-size: xx-small;
}

.antenna_green {
  text-shadow: 0 0 5px green, 0 0 3px green;
  animation: light-green-animation 1s ease-in-out infinite;
  color: green;
}

@keyframes light-green-animation {
  from {
    color: green;
    text-shadow: 0 0 5px green, 0 0 10px green;
  }
  to {
    color: darkgreen;
    text-shadow: none;
  }
}

.antenna_red {
  text-shadow: 0 0 5px red, 0 0 3px red;
  animation: light-red-animation 1s ease-in-out infinite;
  color: red;
}
@keyframes light-red-animation {
  from {
    color: red;
    text-shadow: 0 0 5px red, 0 0 10px red;
  }
  to {
    color: darkred;
    text-shadow: none;
  }
}

button {
  background-color: #3a3a3a;
  cursor: pointer;
}

button:hover {
  background-color: #4a4a4a;
}

#file-share {
  margin-top: 30px;
}

a {
  color: #9bdfff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol {
  padding-left: 20px;
}

#scroll-container {
  overflow: hidden;
  height: 16px;
  width: 58px;
  display: inline-grid;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transform: translateX(0%);

  -moz-animation: my-animation 3s linear infinite;
  -webkit-animation: my-animation 3s linear infinite;
  animation: my-animation 3s linear infinite;

  white-space: nowrap;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(0%);
  }
  to {
    -moz-transform: translateX(-50%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-50%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  to {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(-50%);
  }
}

.header {
  display: flexbox;
}
